@font-face {
  font-family: fire;
  src: url('../fonts/FiraSansCondensed-Regular.ttf');
}
@font-face {
  font-family: lato-bold;
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: lato-regular;
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}
